/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : Dec 10, 2025, 8:56:56 PM
    Author     : ADMIN
*/
body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

.header {
    background: #ee4d2d;
    color: white;
    padding: 15px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.products {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 5px #ccc;
}

.add-btn {
    background: #ee4d2d;
    padding: 8px;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

